.reviewFormContainer {
  position: relative;
  width: 315px;
  margin: 0 auto;

  padding: 12px 20px;
  border: 1px solid rgba(0, 0, 0, 0.18);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.45);
  border-radius: 20px;
}

.h2 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 11px;
  text-align: center;
  color: #505050;
  margin-bottom: 10px;
}

.inputDiv {
  position: relative;
  margin-bottom: 15px;
}

.input {
  width: 100%;
  height: 150px;
  resize: none;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
  padding: 5px 10px 20px;
}

.lettersCounter {
  position: absolute;
  bottom: 4px;
  right: 15px;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 11px;
  color: #aeafbc;
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 5px;
  border: none;
  background-color: transparent;
  cursor: url("/img/cursorWeb.png") 5 5, pointer;
}

.closeBtnSvg {
  width: 18px;
  height: 18px;
}

.submitBtn {
  appearance: none;
  -webkit-appearance: none;

  margin: 0 auto;
  border: none;
  border-radius: 33px;
  width: 102px;
  height: 24px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
  background: #fff;

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 11px;
  text-align: center;
  color: #0090ff;

  cursor: url("/img/cursorWeb.png") 5 5, pointer;
}

.submitBtn:hover {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
  background: #0090ff;
  color: #fff;
}

.submitBtn:active {
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
  background: rgba(0, 144, 255, 0.8);
  color: #fff;
}

.downloadLabel {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 12px;
  cursor: url("/img/cursorWeb.png") 5 5, pointer;
}

.downloadSvg {
  width: 23px;
  height: 17px;
}
