.contentClosed {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.5s linear, opacity 0.5s linear;
}

.contentOpen {
  max-height: 500px; /* выставить больше чем реальный контент */
  opacity: 1;
  transition: max-height 0.5s linear, opacity 0.5s linear;
}
